<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../../../assets/images/logo_bii_sagnsei.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mob-navbar" aria-label="Toggle">
      <span class="navbar-toggler-icon"></span>
      </button>
                    <div class="collapse navbar-collapse" id="mob-navbar">
                        <ul class="navbar-nav mb-3 mb-lg-0 mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Hommes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Femmes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Enfants</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="text" placeholder="Email" />
                            <input class="form-control me-2" type="password" placeholder="Mots de passe" />
                            <button class="btn btn-primary btn-sm" type="submit">Connecter</button>
                            <a class="btn btn-link" href="#">S'incrire</a>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div> -->


<!-- <nav>
        <li><button class="login-button" href="#">Login</button></li>
        <li><button class="join-button" href="#">Join</button></li>
</nav> -->

<!-- <header class="header">
    <a href="" class="logo">Bii Sagnsei</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>

    <ul class="menu">
        <li><a href="#work">Hommes</a></li>
        <li><a href="#about">Femmes</a></li>
        <li><a href="#careers">Enfants</a></li>
    </ul>


</header> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <a href="#" class="navbar-brand">Bii<b>Sagnsei</b></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
    <!-- Collection of nav links, forms, and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
        <div class="navbar-nav">
            <a href="#" class="nav-item nav-link">Accueil</a>
            <a href="#" class="nav-item nav-link">Hommes</a>
            <a href="#" class="nav-item nav-link active">Femmes</a>
            <a href="#" class="nav-item nav-link">Enfants</a>
        </div>
        <!-- <form class="navbar-form form-inline">
            <div class="input-group search-box">
                <input type="text" id="search" class="form-control" placeholder="Search here...">
                <div class="input-group-append">
                    <span class="input-group-text">
						<i class="material-icons">&#xE8B6;</i>
					</span>
                </div>
            </div>
        </form> -->
        <div class="navbar-nav ml-auto action-buttons">
            <div class="nav-item dropdown">
                <a data-toggle="dropdown" class="nav-link dropdown-toggle mr-4">Login</a>
                <div class="dropdown-menu action-form">
                    <form action="/examples/actions/confirmation.php" method="post">
                        <!-- <p class="hint-text">Sign in with your social media account</p>
                        <div class="form-group social-btn clearfix">
                            <a href="www.facebook.com" class="btn btn-secondary facebook-btn float-left"><i class="fa fa-facebook"></i> Facebook</a>
                            <a href="www.twitter.com" class="btn btn-secondary twitter-btn float-right"><i class="fa fa-twitter"></i> Twitter</a>
                        </div>
                        <div class="or-seperator"><b>or</b></div> -->
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" required="required">
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Login">
                        <div class="text-center mt-2">
                            <a href="#">Forgot Your password?</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a routerLink="/inscription" data-toggle="dropdown" class="btn btn-primary dropdown-toggle sign-up-btn">Sign up</a>
                <!-- <div class="dropdown-menu action-form">
                    <form action="/examples/actions/confirmation.php" method="post">
                        <p class="hint-text">Fill in this form to create your account!</p>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Username" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Password" required="required">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Confirm Password" required="required">
                        </div>
                        <div class="form-group">
                            <label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
                        </div>
                        <input type="submit" class="btn btn-primary btn-block" value="Sign up">
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</nav>







<router-outlet></router-outlet>