<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../../../assets/images/logo_bii_sagnsei.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mob-navbar" aria-label="Toggle">
      <span class="navbar-toggler-icon"></span>
      </button>
                    <div class="collapse navbar-collapse" id="mob-navbar">
                        <ul class="navbar-nav mb-3 mb-lg-0 mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Hommes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Femmes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Enfants</a>
                            </li>
                        </ul>
                        <form class="d-flex">
                            <input class="form-control me-2" type="text" placeholder="Email" />
                            <input class="form-control me-2" type="password" placeholder="Mots de passe" />
                            <button class="btn btn-primary btn-sm" type="submit">Connecter</button>
                            <a class="btn btn-link" href="#">S'incrire</a>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div> -->


<!-- <nav>
        <li><button class="login-button" href="#">Login</button></li>
        <li><button class="join-button" href="#">Join</button></li>
</nav> -->

<header class="header">
    <div class="row">
        <div class="col-md-7 offset-4">
            <a href="" class="logo">Bii Sagnsei</a>
            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu">
                <li><a href="#work">Hommes</a></li>
                <li><a href="#about">Femmes</a></li>
                <li><a href="#careers">Enfants</a></li>
            </ul>
            <li><button class="btn btn-primary btn-sm" href="#">Login</button></li>
            <li><button class="" href="#">Join</button></li>
        </div>
    </div>
</header>





<router-outlet></router-outlet>