/* input {
    height: 29px !important;
    width: 155px !important;
    border-radius: 20px !important;
    border: 1px solid rgba(255, 255, 255, 0.2)!important;
    background: rgba(53, 52, 52, 0.5)!important;
} */


/* button {
    border-radius: 20px !important;
    height: 30px;
}

img {
    width: 60px !important;
    margin-top: -80px !important;
    margin-bottom: -85px !important;
} */


/********* Navigation **********/

.navbar {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-90px);
    }
    100% {
        transform: translateY(0px);
    }
}

a.navbar-brand svg {
    height: 40px;
}

a.navbar-brand svg path {
    transition: all 0.3s ease-in-out;
}


/* a.navbar-brand:hover svg path {
    fill: rgba(255, 255, 255, 0.81);
  }*/

a.navbar-brand:hover {
    transform: rotate(45deg);
    transition: all 0.3s ease-in-out;
}

nav .nav-item {}

nav .nav-item .nav-link.btn {
    color: #0589e0;
    font-size: 14px;
    transition: all 0.3s ease-in-out
}

nav .nav-item .nav-link.btn:hover {
    font-weight: 400 !important;
    font-style: italic !important;
}

nav .nav-item .nav-link {
    color: #C2CEE1;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
}

nav .nav-item .nav-link:hover,
nav .nav-item .nav-link.active {
    color: #318df7;
    font-weight: 700;
    font-style: italic;
}

@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        opacity: 0;
        visibility: hidden;
        transition: .3s;
        margin-top: 0;
    }
    .navbar-nav .nav-login {
        padding-left: 40px;
    }
    .navbar .nav-item:hover .nav-link {
        color: #fff;
    }
    .navbar .dropdown-menu.fade-down {
        top: 80%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
    }
    .navbar .dropdown-menu.fade-up {
        top: 180%;
    }
    .navbar .nav-item:hover .dropdown-menu {
        transition: .3s;
        opacity: 1;
        visibility: visible;
        top: 100%;
        transform: rotateX(0deg);
    }
}

@media all and (max-width: 767px) {
    .navbar-toggler {
        position: absolute;
    }
    a.navbar-brand {
        margin: auto;
    }
    .navbar-nav .nav-login {
        padding-left: 40px;
    }
}

.navbar .nav-item .dropdown-menu {
    background: #00245B;
    color: #fff;
    border-radius: 0;
    text-align: center;
}

.navbar .nav-item .dropdown-menu .dropdown-item {
    background: transparent;
    color: #fff;
    transition: all 0.3s ease-in-out;
    font-weight: 300;
    font-size: 14px;
}

.navbar .nav-item .dropdown-menu .dropdown-item:hover {
    color: #f7bc31;
}

.navbar-toggler {
    padding: 0;
    background: transparent;
    position: absolute;
    top: 20px;
}

.navbar-toggler .navbar-toggler-bar {
    background: #C2CEE1;
    width: 25px;
    height: 2px;
    margin: 5px 0;
    display: block;
}

.navbar-collapse.show {
    margin-top: 15px;
    border-top: solid 1px #a8a8a8;
    transition: all 0.3s ease-in;
}

.navbar-collapse.show .nav-link {
    padding: 8px 20px !important;
    transition: all 0.3s ease-in;
}

.navbar-collapse.show .nav-link.btn {
    margin-top: 15px !important;
}

.test {
    color: #fff;
}